# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/
# Maven build folder
target
# Mac HFS+ files
.DS_Store
# Unix editor backup files
*~
*.swp
local.properties
gen/
out/
server/src/test/sql/h2-bootstrap.sql
server/src/test/resources/h2-bootstrap.sql
testsuite/src/test/resources/h2-bootstrap.sql
internal_cookie.txt
#Eclipse files
*.project
*.classpath
*.settings/
